<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a routerLink="/home" class="nav-link">
        <span class="title">Quotes</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="/search" routerLinkActive="active" class="nav-link nav-text">Search</a>
      <a routerLink="/authors" routerLinkActive="active" class="nav-link nav-text">Authors</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-link nav-text">About</a>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <div class="clr-row clr-justify-content-center">
        <div class="clr-col-sm-12 clr-col-md-6">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</clr-main-container>