<ng-container *ngIf="author$ | async as author; else: loading">
  <h1>{{ author.name }}</h1>

  <h4>{{ author.description }}</h4>

  <p>{{ author.bio }}</p>

  <p>
    <a class="btn btn-primary" routerLink="/search" [state]="{ author: author.slug }">Quotes By {{ author.name }}</a>
    <a target="_blank" rel="noopener" class="btn btn-primary" [href]="author.link">Learn More About {{ author.name }}</a>
  </p>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <clr-spinner>Loading...</clr-spinner>
  </div>
</ng-template>